@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&family=Orbitron&display=swap');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Orbitron', sans-serif; */
html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
body {
    overflow-x: hidden;
    color: #333;
    letter-spacing: -0.05em;
    background: #fff;
}
.row {
    max-width: 1000px;
    margin: 0 auto;
}
.logo {
    font-family: 'Orbitron', sans-serif;
}
.container {
    /* iPhone 가로 스크롤 방지 */
    overflow-x: hidden;
}
/* header style */
.header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1.5px solid #ddd;
    z-index: 999;
    /* header bulr 구현x */
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center; height: 77px;
    padding: 0 1rem;
}
.header-inner .menu-list li { display: inline-block;}
.header-inner .menu-list li+li {margin-left: 0.5rem;}
.header-inner .menu-list .menu {position: relative;}
.header-inner .menu-list .menu:before {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 0%;
    height: 2px;
    background: royalblue;
    opacity: 0;
    transition: all 0.3s;
}
.header-inner .menu-list .menu:hover:before {
    width: 100%;
    opacity: 1;
}
.header-inner .menu-list .buy-btn { 
    padding: 5px 3px;
    color: #fff;
    border-radius: 5px;
    background: royalblue;
}
.open-gnb { display: none;}
/* scroll section style */
.scroll-section {
    padding-top: 50vh;
}
#scroll-section-0 h1 {
    font-size: 4rem;
    text-align: center;
}
.main-message {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35vh;
    height: 3em;
    font-size: 2.5rem;
    opacity: 0;
}
.main-message p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}
.detail-1-container {
    text-align: left;
    padding: 0 1rem;
}
.detail-1-container .detail {
    margin: 16px 0;
}
.detail h3 {
    font-size: 2.5rem;
}
.detail .sub-title {
    font-size: 1.3rem;
    font-weight: bold;
}
.detail-1 {
    display: flex;
    flex-direction: column;
}
.detail-2-container {
    padding: 3rem 0;
}
.detail-2 {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.detail-2 > div {
    width: 100%;
}
.detail-2-img {
    transform: translate3d(0,0,0);
    margin-bottom: 1rem;
}
#scroll-section-2 {
    background: yellowgreen;
}
#scroll-section-2 .a,
#scroll-section-2 .b {
    top: 50%; left: 40%;
}
.mid-message {
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
}
.mid-message strong {
    color: #333;
}
.sticky-elem.desc-message {
    width: 45%;
    font-weight: bold;
    opacity: 0;
}
.canvas-caption {
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
    text-align: center;
}
.canvas-caption h3 {
    font-size: 2.5rem;
}
.canvas-caption .time {
    font-size: 15rem;
    color: #333;
}
.canvas-caption .desc {
    max-width: 450px;
    margin: 0 auto;
}
/* footer style */
.footer {
    color: #fff;
    background: #333;
    padding: 0 1rem;
}
.footer-top {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 55px;
    border-bottom: 1px solid #fff;
}
.footer-top .menu-links { margin-right: auto;}
.footer-top .sns-links { font-size: 1.5rem;}
.footer-top .sns-links > a:hover { color: #ddd;}
.footer-top .menu-links > a,
.footer-top .sns-links > a+a,
.footer-bottom .terms-links > a+a { margin-left: 0.7rem;}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    color: #ccc;
}
/* sticy-elem style */
.sticky-elem {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
}
#show-section-0 #scroll-section-0 .sticky-elem,
#show-section-1 #scroll-section-1 .sticky-elem,
#show-section-2 #scroll-section-2 .sticky-elem {
    display: block;
    will-change: transform, opacity;
}

/* mobile first responsive style */
@media (min-width: 1024px) {
    /* pc style */
    #scroll-section-0 h1 {
        font-size: 9vw;
    }
    .main-message {
        font-size: 4vw;
    }
    .desc-message {
        width: 20%;
    }
    .mid-message {
        font-size: 4vw;
    }
    .canvas-caption {
        font-size: 2rem;
    }
    .sticky-elem.desc-message {
        width: 20%;
    }
    #scroll-section-2 .a,
    #scroll-section-2 .b {
        top: 20%; left: 53%;
    }
}
@media (min-width: 768px) {
    .detail-1 {
        flex-direction: row;
        padding: 5rem 0;
    }
    .detail-1 .detail:first-child {
        width: 100%;
    }
    .detail-1 .detail:last-child {
        margin-left: 1rem;
    }
    .detail-2-container {
        background: #ddd;
    }
    .detail-2 > div {
        width: 48%;
    }
    .detail-2-img {
        transform: translate3d(0,-70px,0);
    }
    .detail .sub-title {
        font-size: 1.7rem;
    }
    .detail > p {
        font-size: 1.2rem;
    }
}