@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&family=Orbitron&display=swap');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Orbitron', sans-serif; */
html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
body {
    overflow-x: hidden;
    color: #333;
    letter-spacing: -0.05em;
    background: #fff;
}
.row {
    max-width: 1000px;
    margin: 0 auto;
}
.logo {
    font-family: 'Orbitron', sans-serif;
}
.container {
    /* iPhone 가로 스크롤 방지 */
    overflow-x: hidden;
}
/* header style */
.header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1.5px solid #ddd;
    /* header bulr 구현x */
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center; height: 77px;
    padding: 0 1rem;
}
.header-inner .menu-list li { display: inline-block;}
.header-inner .menu-list li+li {margin-left: 0.5rem;}
.header-inner .menu-list .menu {position: relative;}
.header-inner .menu-list .menu:before {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 0%;
    height: 2px;
    background: royalblue;
    opacity: 0;
    transition: all 0.3s;
}
.header-inner .menu-list .menu:hover:before {
    width: 100%;
    opacity: 1;
}
.header-inner .menu-list .buy-btn { 
    padding: 5px 3px;
    color: #fff;
    border-radius: 5px;
    background: royalblue;
}
.open-gnb { display: none;}
/* scroll section style */
.scroll-section {
    padding-top: 50vh;
}
#scroll-section-0 h1 {
    font-size: 4rem;
    text-align: center;
}
.main-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    font-size: 2.5rem;
}
.main-message p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}
#scroll-section-1 {
    background: rgba(0, 0, 0, 0.2);
}
.detail-container {
    text-align: left;
    padding: 0 1rem;
}
.detail-container .detail {
    margin: 16px 0;
}
.detail h3 {
    font-size: 2.5rem;
}
.detail .sub-title {
    font-size: 1.3rem;
    font-weight: bold;
}
.detail-1 {
    display: flex;
    flex-direction: column;
}
#scroll-section-2 {

}
.mid-message {
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
}
.mid-message strong {
    color: #333;
}
.desc-message {
    width: 50%;
    font-weight: bold;
}
.canvas-caption {
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
    text-align: center;
}



/* footer style */
.footer {
    color: #fff;
    background: #333;
}
.footer-top {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 55px;
    border-bottom: 1px solid #fff;
}
.footer-top .menu-links { margin-right: auto;}
.footer-top .sns-links { font-size: 1.5rem;}
.footer-top .sns-links > a:hover { color: #ddd;}
.footer-top .menu-links > a,
.footer-top .sns-links > a+a,
.footer-bottom .terms-links > a+a { margin-left: 0.7rem;}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    color: #ccc;
}

/* mobile first responsive style */
@media (min-width: 1024px) {
    /* pc style */
    #scroll-section-0 h1 {
        font-size: 9vw;
    }
    .main-message {
        font-size: 4vw;
    }
    .desc-message {
        width: 20%;
    }
    .mid-message {
        font-size: 4vw;
    }
    .canvas-caption {
        font-size: 2rem;
    }
}
@media (min-width: 768px) {
    .detail-1 {
        flex-direction: row;
    }
    .detail-1 .detail:first-child {
        width: 100%;
    }
    .detail-1 .detail:last-child {
        margin-left: 1rem;
    }
}